<div ng-controller="NewCardController">
    <form name='newCardForm' ng-submit="newCardForm.$valid && update()">
        <!-- <pre>{{ newCardForm.question | json }}</pre> -->
        <input type='text' name='question' ng-model='newCard.question' required ng-minlength='15'>
        <span ng-show="newCardForm.question.$invalid && newCardForm.question.$dirty">Minimum question length - 15 characters.</span>
        <select name='category' ng-model='newCard.category' required>
            <option value='MongoDB'>
                MongoDB
            </option>
            <option value='Express'>
                Express
            </option>
            <option value='Angular'>
                Angular
            </option>
            <option value='Node'>
                Node
            </option>
        </select>
        <span ng-show="!newCardForm.category.$viewValue && submitted">Category is required</span>
        <div ng-model='newCard.answers[0]'>
            <input type='text' name='answer1' ng-model='newCard.answers[0].text' placeholder='Answer 1' required ng-maxlength='40'>
            <input type='checkbox' name='checkbox1' ng-model='newCard.answers[0].correct'>
            <span ng-show="newCardForm.answer1.$error.maxlength && submitted">Answer too long.</span>
        </div>
        <div ng-model='newCard.answers[1]'>
            <input type='text' name='answer2' ng-model='newCard.answers[1].text' placeholder='Answer 2' required ng-maxlength='40'>
            <input type='checkbox' name='checkbox2' ng-model='newCard.answers[1].correct'>
            <span ng-show="newCardForm.answer2.$error.maxlength && submitted">Answer too long.</span>
        </div>
        <div ng-model='newCard.answers[2]'>
            <input type='text' name='answer3' ng-model='newCard.answers[2].text' placeholder='Answer 3' required ng-maxlength='40'>
            <input type='checkbox' name='checkbox3' ng-model='newCard.answers[2].correct'>
            <span ng-show="newCardForm.answer3.$error.maxlength && submitted">Answer too long.</span>
        </div>
        <button ng-click="submitted=true; existingCardId=card._id">Submit</button>
    </form>
</div>